*{margin:0; padding:0;}
#container{
  width:100vw;
  height:100vh;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &>div{
    width:200px;
    height:200px;
    background-color: #333;
  }
}
